* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

.Label {
    display: flex;
    justify-content: space-between;
}

.Label p{
    margin: 15px;
}

.Label .expense{
    font-size: 18px;
    font-weight: 500;
}

.Label .paragraph{
    font-size: 15px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
}

.content {
    max-width: 60%;
    background-color: #f9f9f9;
    flex: 1;
    padding: 20px;
    text-align: center;
}

.content h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

.content p {
    margin: 10px 0;
    font-weight: 600;
}

.image {
    margin: 55px 0;
}

.image img {
    width: 100%;
    max-width: 400px;
    height: auto;
}

.signup {
    flex: 1;
    max-width: 40%;
    padding: 100px 90px;
    background: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    border: none;
    text-align: center;
    /* background-color: blue; */
}

.signup h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.signup p {
    margin: 10px 0;
}

.signup form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.signup form input {
    padding: 14px;
    font-size: 1em;
    border-radius: 6px;
    outline: none;
    border-top: none;
    border-left: none;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.signup form button {
    padding: 10px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    background-color: #000;
    color: #fff;
    cursor: pointer;
}

.signup .social-login {
    display: flex;
    justify-content: space-between;
}

.signup .social-login button {
    padding: 10px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 48%;
}

.signup .social-login .google {
    background-color: #db4a39;
    color: #fff;
}

.signup .social-login .facebook {
    background-color: #3b5998;
    color: #fff;
}
